@import "tailwindcss";

@import "@splidejs/react-splide/css/sea-green";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #231f20;
  --color-lightblue: #a3bfdb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 100%;
  padding: 0 32px;
  width: 100%;
  margin: 0 auto;
}

.splide {
  padding: 0;
}

body {
  font-family: var(--font-myfont);
  overflow-x: hidden;
}

body:has(.body-overflow-hidden) {
  overflow: hidden;
}

.banner .splide__pagination {
  position: absolute;
  right: 20px;
  width: fit-content;
  left: unset;
  bottom: 40px;
}

.banner .splide__pagination__page.is-active {
  width: 20px;
  border-radius: 20px;
  height: 5px !important;
  scale: unset !important;
}

.banner .splide__pagination__page {
  height: 5px !important;
  width: 5px;
}

.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.no-scroll {
  overflow: hidden;
  padding-right: 15px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

/* overlay */

.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 12;
  background: #000;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.overlay.active {
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
  display: block;
  pointer-events: initial;
}
